TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=no
NAME={{ network_interface }}
DEVICE={{ network_interface }}
ONBOOT=yes
IPADDR={{ hostvars[inventory_hostname]['static_ipv4'] }}
NETMASK={{ netmask }}
GATEWAY={{ gateway }}
DNS1={{ dns_servers.split(',')[0] }}
DNS2={{ dns_servers.split(',')[1] }}
IPV6ADDR={{ hostvars[inventory_hostname]['static_ipv6'] }}/{{ ipv6_prefix }}
GATEWAY6={{ gateway6 }}
DNS1={{ dns_servers6.split(',')[0] }}
DNS2={{ dns_servers6.split(',')[1] }}
